.content{
    background-color: #f5f5f5;
}
.content a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-size: 16px;
}
.contentTopBox{
    width: 100%;
    background-color: white;
}
.contentTop{
    width: 1232px;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    background-color: white;
    margin-right: auto;
}
.topcategoryLeft{
    float: left;
    margin-left: 18px;
    margin-top: 0px;
}
.topcategoryRight{
    float: left;
    margin-left: 8px;
    /*margin-bottom: 8px;*/
    /*margin-top: -4px;*/
    height: 35px;
    line-height: 35px;
}
.topcategoryRight ul{
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
}
.topcategoryRight li{
    float: left;
    margin-right: 18px;
}
.topcategoryRight li a{
    /*height: 40px;*/
    cursor: pointer;
    float: left;
    /*line-height: 40px;*/
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    position: relative;
}
.marketInternational a{
    display: block;
    float: left;
    width: 100px;
    height: 30px;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 4px;
    height: 35px;
    cursor: pointer;
}
.marketInternational a img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    display: block;
}
.brand-list{
    margin-top: 16px;
}
.brand-item-body{
    margin-right: -2px;
    overflow: hidden;
}
.brand-item{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
}
.brand-img{
    height: 79px;
    /*margin-left:auto;*/
    /*margin-right: auto;*/
    display: block;
    text-align: center;
    /*line-height: 108px;*/
    background-color: #fff;
    padding-top: 29px;
}
.brand-mask{
     width: 100%;
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     z-index: 1;
     color: white;
     background-color: rgba(0,0,0,.8);
     transition: all .3s ease-out;
     opacity: 0;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
 }
.brand-item .brand-mask .coupon {
    color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}
.brand-item .brand-mask .enter {
    text-align: center;
    height: 32px;
}
.brand-item .brand-mask .coupon span {
    display: block;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-bottom: 2px;
}
.brand-item .brand-mask .enter span {
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}

.brand-item:hover .brand-mask{
    opacity: 1;
}
.brand-item-last{
    background-color: white;
    line-height: 108px;
    float: left;
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;

}
.fresh-btn{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
}
.fresh-btn span{
    display: block;
    height: 40px;
}
/*.fresh-btn{*/
    /*width: 122px;*/
    /*height: 108px;*/
    /*display: block;*/
    /*color: #999;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*bottom: 1px;*/
    /*right: 1px;*/
    /*overflow: hidden;*/
    /*transition: all .3s ease-out;*/
    /*z-index: 500;*/
/*}*/
.fresh-img{
    text-align: center;
    height: 40px;
    width: 40px;
}
.btn-text{
    display: block;
    font-size: 14px;
    /*line-height: 136px;*/
    text-align: center;
}
.brand-item-last:hover{
    background-color: #FF0036;
}