.loginBox{
    text-align: center;
}
.MainBox{
    margin-top: 10%;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
ul{
  list-style: none;
}
.titleBox{
    color: red;
    font-size: 40px;
}